body{

  padding: 50px;
  background: lightblue;
}
  


form{
  margin: 6% 30% 10% 30%;
  border: 5px solid gray;
    padding: 25px;
}
button{
  background-color: rgba(36, 41, 44, .9);
  border: none;
  width: 90%;
  text-align: center;
  padding: 14px;
  border-radius: 4px;
  color: white;
}

input{

  background: rgba(241, 241, 241, .7);
  width: 80%;
  padding: 14px;
  margin: 14px;
  border-radius: 4px;
  border: 0;
  color: #3E3E3E;
}
